---
const info = [
  {
    title: "Peace Lily",
    img: "https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png",
    category: "Indoor",
    price: "12.000",
    color: "orange-500",
  },
  {
    title: "Monstera",
    img: "https://user-images.githubusercontent.com/2805249/64069998-305de300-cc9a-11e9-8ae7-5a0fe00299f2.png",
    category: "Outdoor",
    price: "12.000",
    color: "teal-500",
  },
  {
    title: "Oak Tree",
    img: "https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png",
    category: "Outdoor",
    price: "12.000",
    color: "purple-500",
  },
];
---

<section id="service" class="pt-10 pb-16 bg-slate-100 font-poppins">
  <div class="container">
    <div class="w-full px-4 md:px-8 lg:px-16">
      <div class="max-w-xl mb-6 m-auto text-center">
        <h4 class="font-semibold text-primary mb-2 text-md">
          Mudah, Cepat, dan Aman
        </h4>
        <h2 class="font-bold text-dark text-lg mb-4 m:text-xl lg:text-2xl">
          Bersama Purbalingga Exhaust Store
        </h2>
        <p class="font-medium text-sm text-slate-400 md:text-md">
          Belanja mudah, cepat, dan aman dengan banyak toko resmi dan produk
          terpopuler yang berstandar SNI.
        </p>
      </div>
      <div class="flex flex-wrap items-center justify-center">
        {
          info.map((data, index) => (
            <div
              class={`flex-shrink-0 hover:scale-110 transition-all duration-200 m-6 relative overflow-hidden bg-${data.color} rounded-lg max-w-xs shadow-lg`}
            >
              <svg
                class="absolute bottom-0 left-0 mb-8"
                viewBox="0 0 375 283"
                fill="none"
                style="transform: scale(1.5); opacity: 0.1"
              >
                <rect
                  x="159.52"
                  y="175"
                  width="152"
                  height="152"
                  rx="8"
                  transform="rotate(-45 159.52 175)"
                  fill="white"
                />
                <rect
                  y="107.48"
                  width="152"
                  height="152"
                  rx="8"
                  transform="rotate(-45 0 107.48)"
                  fill="white"
                />
              </svg>
              <div class="relative pt-10 px-10 flex items-center justify-center">
                <div
                  class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                  style="
                    background: radial-gradient(black, transparent 60%);
                    transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1);
                    opacity: 0.2;
                  "
                />
                <img class="relative w-40" src={data.img} alt={data.title} />
              </div>
              <div class="relative  px-6 pb-6 mt-6">
                <span class="block opacity-75 -mb-1 text-white">
                  {data.category}
                </span>
                <div class="flex justify-between ">
                  <span class="block font-semibold text-xl text-white">
                    {data.title}
                  </span>
                  <span
                    class={`bg-white rounded-full text-dark text-xs font-bold px-3 py-2 leading-none flex items-center`}
                  >
                    Rp{data.price}
                  </span>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
